/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/
span{
    background: #fff0;
    border-radius:10px;
    height:7px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  span:nth-of-type(1){
    width:50%;
    
  }
  
  span:nth-of-type(2){
    width:75%;
  }
  
  
  span:nth-of-type(3){
    width:50%;
   
  }